<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: rgba(207, 216, 220, 0.6)"
>
  <!-- Navbar content -->
  <div class="container-fluid" id="home_logo ">
    <a class="nav-link "  href="/">
      <span class="navbar-brand mb-0 h1" style="color: rgb(15, 13, 13)"
        >Labour Recruit</span
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0"> 
      <% if(loggedIn){ %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/profile">
          <button type="button" class="btn btn-outline-primary">Profile</button>
        </a>
      </li>
      <% } %> 
      <% if(!loggedIn){ %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">
          <button type="button" class="btn btn-outline-success">Login</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/signup">
          <button type="button" class="btn btn-outline-success">Signup</button>
        </a>
      </li> 
      <% } %> 
      <% if(loggedIn && loggedIn.role === 'admin') {%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add/labour">
            <button type="button" style="width: 150px;" class="btn btn-outline-primary">Add Labour</button>
          </a>
        </li> 
        <li class="nav-item ">
          <a class="nav-link active d-flex align-items-center " aria-current="page" href="/add/category">
            <button type="button" style="width: 150px;" class="btn btn-outline-primary">Add Category</button>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active d-flex align-items-center " aria-current="page" href="/admin/request">
            <button type="button" style="width: 150px;" class="btn btn-outline-primary">Requests</button>
          </a>
        </li>
      <% } %>  
      <li class="nav-item ">
        <a class="nav-link active d-flex align-items-center " aria-current="page" href="/about">
          <button type="button" style="width: 150px;" class="btn btn-outline-primary">About Us </button>
        </a>
      </li>
      <% if(loggedIn){ %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">
            <button type="button" class="btn btn-outline-danger">Logout</button>
          </a>
        </li>
        <% } %> 
    </ul>
  </div>
</nav>
