<!DOCTYPE html>
<html lang="en">
  <%- include('partials/Head'); %>
  <style>
    a,
    a:hover {
      text-decoration: none;
    }
  </style>
  <body class="cat-bg cat-body addlab-bg about-bg">
    <%- include('partials/Navbar') %> 
    <div style="position:absolute;opacity: 0.3; height: 100vh; width: 100%; background:url('/assets/WhatsApp Image 2022-05-12 at 9.55.58 PM.jpeg');"></div>
    <h2 class="text-center" style="color:rgb(111, 109, 109); font-weight: bold; font-size: 60px;">We provide every kind of labour!</h2> 
    <div class="d-flex justify-content-center">
        <p style="text-align: center; font-weight: bolder; padding:20p;color:rgb(56, 54, 54) ;font-size: 20px; width: 600px;">
            We are starting initially to improve the lifes of the labours. The pandemic has been a great disaster 
            for many of our lives but we should not let our heart fall for this reason. We need to rise up our head and 
            keep moving forward. This will serve for the future precautions if any situations like pandemic may 
            occur.
        </p>  
        <!-- <img src="/assets/WhatsApp Image 2022-05-12 at 9.55.58 PM.jpeg" style="width: 700px; height:500px"/> -->
    </div>
     

  </body>
</html>
